*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Rubik Mono One', sans-serif;
    
}

/* navbar */
nav{
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 99;
    /* debug */
    background-color: blanchedalmond;
    width: 300px;
    font-size: large;
    color: black;
}


/* sezione contenitori larghezza vh */
.container{
    height: 100vh;
    position: relative;
}


.container img{
    position: absolute;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;    
}

.title{
    position: absolute;
    bottom: 5vh;
    text-align: center;
    width: 100%;
    color: yellow;
}

/* personalizzazione contenitori */

#cont-1{
    background-color: red;
}

#cont-2{
    background-color: green;
}

#cont-3{
    background-color: yellow;
}

#cont-3 .title{
    color: green;
}